<div class ='search'>
  <p>Search by category:</p>
  <select class="dropDown" name="dropDown" ng-model='sortBy'>
    <option value="selected">--- Select ----</option>
    <option value="-votes">Votes</option>
    <option value="date">Date</option>
    <option value="title">Title</option>
  </select>
  <br>
  <p>Search by name:</p>
  <input class= 'searchBar' type="text" ng-model="pizzle.$" placeholder='Search'>
  <a href="/#/shoppingCart"
    <input type="submit" class="btn btn-danger">Checkout |
  </a>
</div>
